
.footer-items{
    background-color: rgb(242, 242, 242);
    display: flex;
    position: absolute;;
    bottom: 5px;
    width: 100%;
    min-width: 300px;
    height: 5%;
    justify-content: space-between;
    align-content: baseline;
    flex-wrap: wrap;
    border-top: 1px solid hsl(0, 0%, 95%);
}

@media only screen and (max-width: 600px) {
    .footer-items {
        height: 15%;

    }

    .footer-section {
        width: 100%;
    }
}

.footer-section {
    display: flex;
    align-content: baseline;
    justify-content: space-between;
    min-width: 300px;
    margin: 0 2% 0 2%;
}
.nav-items {
    position: absolute;;
    top: 0;
    display: flex;
    width: 100%;
    min-width: 350px;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-item { 
    color: #000;
    opacity: .75;
    margin: 2%;
    
}
.nav-square {
    background-color: hsl(0, 0%, 25%);
    
}
.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}
#user-icon {
    background-color: hsl(20, 100%, 75%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#nav-spacer {
    width: 30px;
    height: 30px;
    flex: 1 1 0;
}
#nav-options {
    width: 20px;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;

}

#logo {
    display: block;
    width: 272px;
    height: 92px;
    margin: 0 0 30px 100px;
}

#search-bar {
    width: 500px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid hsl(0, 0%, 75%);
    display: flex;
    align-items: center;
}

#search-bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-bar input {
    border: hsl(0, 0%, 100%);
    width: 440px;
    height: 100%;
}

#search-bar :focus {
    outline: none;
}

#search-bar svg {
    border: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-buttons {
    margin-top: 30px;
    width: 504px;
    height: 100px;
    display: flex;
    /* align-items: space-around; */
    justify-content: center;
}
.button-press{
    color: #5F6368;
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    border-radius: 10%;
    margin: 0 10px 0 10px;
    height: 34px;
    width: 128px;
}

.button-press:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #22
}



